@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:wght@600;700&display=swap");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9e0ae;
  width: 100%;
  height: 124px;
  /* height: 7.75rem; */
  /* flex-shrink: 0; */
  gap: 20%;
}

header .menu-section {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

header img {
  color: #000;
  width: 2.375rem;
  height: 2.375rem;
  flex-shrink: 0;
}
header .logo span {
  color: #000000;
  font-family: Jim Nightshade, sans-serif;
  font-size: 2.5rem;
  gap: 31.5;
}
header nav {
  gap: 2em;
  display: flex;
}

header nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
  /* display: inline-flex; */
  /* align-items: flex-start; */
  /* gap: 3.5rem; */
}
nav img {
  width: 0.93613rem;
  height: 0.53925rem;
}
header .btn {
  border-radius: 10px;
  border: none;
  background: #c24914;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 9.375rem;
  height: 2.4375rem;
  text-decoration: none;
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.hero-section .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.left-side h1 {
  width: 26.75rem;
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
}
.left-side p {
  color: rgba(0, 0, 0, 0.46);
  width: 34.375rem;
  font-size: 1.25rem;
}
.left-side button {
  /* display: flex; */
  /* justify-content: center; */
  border: none;
  width: 12.5rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #682c0e;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  left: 2rem;
  bottom: 6.4375rem;
  color: #ffffff;
  text-decoration: none;
}
.online-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: Poppins;
  margin-top: 20%;
  gap: 100px;
}
.online-center-container .left img {
  width: 30rem;
  height: 23.6875rem;
  flex-shrink: 0;
}
.online-center-container .right h2 {
  width: 25.4375rem;
  height: 9rem;
  font-size: 3rem;
  font-weight: 600;
}
.online-center-container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.online-center-container .right ul {
  margin: 0;
}

.right-container ul {
  font-size: 1.5rem;
}
.account-information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 20%;
  gap: 100px;
}
.account-information-container .left-between {
  width: 33.125rem;
  flex-shrink: 0;
  height: 13.5rem;
  font-size: 3rem;
  font-weight: 600;
}
.account-information-container .right-between {
  width: 27.45713rem;
  height: 18.29013rem;
  flex-shrink: 0;
}

.registeration-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}

.registeration-container form {
  background: #f9e0ae;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 2.4em 0;
}

.registeration-container form input {
  width: 300px;
  /* height: 60px; */
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0.8em 0;
}

.registeration-container form input[type="button"] {
  background-color: #c24914;
  color: white;
  font-family: inherit;
  border: none;
}

.Buttons {
  background: #f9e0ae;
  width: 67.5rem;
  height: 8.75rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.Buttons .btn1 {
  text-decoration: none;
  background: #ffffff;
  width: 18.75rem;
  height: 3.9375rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  font-weight: 600;
  /* text-align: center;  */
  /* align-content: center; */
}
.Buttons .btn2 {
  text-decoration: none;
  width: 18.75rem;
  height: 3.9375rem;
  flex-shrink: 0;
  background: #c24914;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  /* text-align: center; */
}

.community-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  flex-direction: column;
  background-image: url("./asserts/Ellipse-2.svg"),
    url("./asserts/Ellipse-4.svg"), url("./asserts/Ellipse-3.svg"),
    url("./asserts/Ellipse-1.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 57% 12%, 80% 27%, 16% 48%, 35% 62%;
}
.community-container .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 70%;
  padding-top: 13%;
}
.community-container .top .group {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.community-container .top h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
}

.community-container .top p {
  text-align: center;
  color: rgba(0, 0, 0, 0.46);
}

.community-container .top .group button {
  width: 50%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #fc8621;
  padding: 0.6em;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

.community-container .bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}

.community-container .bottom img {
  position: relative;
  top: -16em;
  left: 4em;
  bottom: 0;
  z-index: -100;
}
footer {
  width: 100%;
  height: 27.625rem;
  flex-shrink: 0;
  background: #f9e0ae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-content: baseline;
}
ul,
.last {
  color: rgba(0, 0, 0, 0.5);
}
footer .footer-items {
  display: flex;
  gap: 6rem;
  align-items: center;
}
footer .icons ul {
  display: flex;

  gap: 1rem;
  list-style: none;
}
