@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:wght@600;700&display=swap");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9e0ae;
  width: 100%;
  height: 124px;
  /* height: 7.75rem; */
  /* flex-shrink: 0; */
  gap: 20%; 
}

header .menu-section {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

header img {
  color: #000;
  width: 2.375rem;
  height: 2.375rem;
  flex-shrink: 0;
}
header .logo span {
  color: #000000;
  font-family: Jim Nightshade, sans-serif;
  font-size: 2.5rem;
  gap: 31.5;
}
header nav {
  gap: 2em;
  display: flex;
}

header nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
  /* display: inline-flex; */
  /* align-items: flex-start; */
  /* gap: 3.5rem; */
}
nav img {
  width: 0.93613rem;
  height: 0.53925rem;
}
header .btn {
  border-radius: 10px;
  border: none;
  background: #c24914;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 9.375rem;
  height: 2.4375rem;
  text-decoration: none;
 text-align: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.hero-section .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.left-side h1 {
  width: 26.75rem;
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
}
.left-side p {
  color: rgba(0, 0, 0, 0.46);
  width: 34.375rem;
  font-size: 1.25rem;
}
.left-side button {
  /* display: flex; */
  /* justify-content: center; */
  border: none;
  width: 12.5rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #682c0e;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  left: 2rem;
  bottom: 6.4375rem;
  color: #ffffff;
  text-decoration: none;

}
.online-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: Poppins;
  margin-top: 20%;
  gap: 100px;
}
.online-center-container .left img {
  width: 30rem;
  height: 23.6875rem;
  flex-shrink: 0;
}
.online-center-container .right h2 {
  width: 25.4375rem;
  height: 9rem;
  font-size: 3rem;
  font-weight: 600;
}
.online-center-container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.online-center-container .right ul {
  margin: 0;
}

.right-container ul {
  font-size: 1.5rem;
}
.account-information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 20%;
  gap: 100px;
}
.account-information-container .left-between {
  width: 33.125rem;
  flex-shrink: 0;
  height: 13.5rem;
  font-size: 3rem;
  font-weight: 600;
}
.account-information-container .right-between {
  width: 27.45713rem;
  height: 18.29013rem;
  flex-shrink: 0;
}
.registeration-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}

.registeration-container form {
  background: #F9E0AE;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 2.4em 0;
}

.registeration-container form input {
  width: 300px;
  /* height: 60px; */
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0.8em 0;
}

.Buttons {
  background: #f9e0ae;
  width: 67.5rem;
  height: 8.75rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.Buttons .btn1 {
  text-decoration: none;
  background: #ffffff;
  width: 18.75rem;
  height: 3.9375rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  font-weight: 600;
  /* text-align: center;  */
  /* align-content: center; */
}
.Buttons .btn2 {
  text-decoration: none;
  width: 18.75rem;
  height: 3.9375rem;
  flex-shrink: 0;
  background: #c24914;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  /* text-align: center; */
}
.lastSection {
  display: flex;
  justify-content: space-around;
}
.lastSection .first{
  transform: skew(90,3);
}

.left-lastSection h2 {
  color: #000000;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.left-lastSection p {
  color: rgba(0, 0, 0, 0.46);
  font-size: 1.25rem;
}
.left-lastSection a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-around;
  text-align: center;
  width: 17.0625rem;
  height: 3.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #fc8621;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
footer {
  width: 80rem;
  height: 27.625rem;
  flex-shrink: 0;
  background: #f9e0ae;
}
footer .footer-path {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .icons ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  width: 2.3125rem;
  height: 2.3125rem;
}
/* .img-part img {
  width: 2.375rem;
  height: 2.375rem;
  flex-shrink: 0;
} */
.img-part span {
  color: #000000;
  font-family: Jim Nightshade, sans-serif;
  font-size: 2.5rem;
}
footer h2 {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
}
.links ul,
.contacts ul {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .links ul{
  width: 10.25rem;
  height: 5.5625rem;
}
.contacts ul {
  width: 15.1875rem;
  height: 5.5625rem;
} */
.last{
  padding: 12rem 33rem;
  align-items: center;
}
.last img {
  width: 1.25rem;
  height: 1.20075rem;
  flex-shrink: 0;
}
.last span {
  color: #7d7a74;
  font-size: 0.9375rem;

}
